%h3= t('books.relevant')
%ul.unstyled
  - book.relevants.each do |relevant|
    %li
      %i{class: "icon-#{relevant.type}"}
      = link_to relevant.url, relevant.url
= simple_form_for Relevant.new, wrapper: :inline, remote: true, html: {class: 'form-inline'} do |f|
  = f.input :type, as: :icon, collection: Relevant.types
  = f.input :url, as: :url
  = f.button :submit, t('relevant.add')
