%h3= t('books.relevant')
%ul#relevant_list.unstyled
  - book.relevants.each do |relevant|
    = render relevant
= simple_form_for @book.relevants.build, wrapper: :inline, remote: true, html: {class: 'form-inline'} do |f|
  = f.input :book_id, as: :hidden
  = f.input :what, as: :icon, collection: Relevant.whats
  = f.input :url, as: :url
  = f.button :submit, t('relevant.add')
