- set_meta_tags title: t('books.show', title: @book.title)
- set_meta_tags open_graph: {  title: @book.title,  type: :book, url: book_url(@book), image: @book.image, description: @book.description, 'book:isbn' => @book.isbn,  'book:release_date' => @book.published }
%p#notice= notice

= render @book
= render partial: 'links', locals: {book: @book}
= render partial: 'relevant', locals: {book: @book}

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Delete', book_path(@book), method: :delete
\|
= link_to 'Back', books_path
= render 'entities/entities'
